* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

:root {
  --blockSize: 50px;
}

.body {
  background-color: #04040a;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.jet {
  display: block;
  width: var(--blockSize);
  height: var(--blockSize);
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
}